:root {
    --bg-cellForNumber: #f2f2f2;
    --bg-cell: #f2f2f2;
    --filled-bg: #969595;
    --text-color: #222222;
    --alt-text-color: #ffffff;

    --highlighted: #fff3e5;
    --selected: #ffdbb3;
    --error: #ff8c8c;

    --cell-size: 8vmin;
    --border-radius: 0.5vmin;
    --gap: 0.9vmin;

    --font-size: 3vmin;
}

@media (max-width: 600px) {
    :root {
        --cell-size: 10vmin;
        --font-size: 5.5vmin;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image/house.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tableDivMaterial {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leaderboard {
    background-color: white;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.leaderboard th,
.leaderboard td {
    padding: 10px;
    border: 1px solid #ccc;
}

.leaderboard th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.leaderboard td {
    text-align: left;
}

.restart-button {
    margin-top: 20px;
    text-align: center;
    font-size: var(--font-size);
    display: block;
    width: 25%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #45a049;
}

.tableDivMaterialForDialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.inputField {
    border: 1px solid #cccccc;
    border-radius: 20px;
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
.selectField {
    padding: 10px;
    border-radius: 20px;
    max-width: 600px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}

.continueButton {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;

    cursor: pointer;
    border-radius: 20px;
}

.continueButton:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    gap: var(--gap);
}

.cell {
    display: flex;
    border: 2px solid #000000;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-cell);
    color: var(--text-color);
    font-size: var(--font-size);
    cursor: pointer;
}

.cell:nth-child(3),
.cell:nth-child(6) {
    margin-right: var(--gap);
}

.cell:nth-child(19),
.cell:nth-child(46) {
    margin-bottom: var(--gap);
}

.cell.filled {
    background-color: var(--filled-bg);
    color: var(--text-color);
}

.cell.highlighted {
    background-color: var(--highlighted);
}

.cell.selected {
    background-color: var(--selected);
}

.cell.error {
    background-color: var(--error);
    color: var(--alt-text-color);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: var(--gap);
    margin-top: 2vmin;
}

.number,
.remove {
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-cellForNumber);
    font-size: var(--font-size);
    color: var(--text-color);
    cursor: pointer;
}

.zoom {
    animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: scale(1.2);
    }

    25% {
        transform: scale(1.2) rotate(30deg);
    }

    50% {
        transform: scale(1.2) rotate(-30deg);
    }
}

/* Стили для таблицы лидеров */
.leaderboard {
    margin-top: 2vmin;
    width: 300px;
}

.leaderboard th,
.leaderboard td {
    padding: 0.5rem;
    text-align: left;
}

.leaderboard th {
    background-color: var(--bg-cell);
    color: var(--text-color);
}

.leaderboard td {
    background-color: var(--filled-bg);
    color: var(--text-color);
}
